<div class="page-main-header">
  <div class="main-header-right row m-0">
    <div class="main-header-left col-auto">
      <div class="logo-wrapper">
        <a [routerLink]="['/']">
          <img src="/assets/images/logo/logo.png" class="logo">
        </a>
      </div>
      <div class="toggle-sidebar" (click)="sidebarToggle()">
        <i class="status_toggle middle" data-feather="align-center" id="sidebar-toggle"></i>
      </div>
    </div>

    <div class="left-menu-header col">
      <!-- Empty space or breadcrumb placeholder -->
    </div>

    <div class="nav-right col pull-right right-menu p-0">
      <ul class="nav-menus" [class.open]="open">
        <li class="onhover-dropdown p-0">
          <button class="btn btn-primary-light" type="button" (click)="logout()">
            <app-feather-icons [icon]="'log-out'" />Log out
          </button>
        </li>
      </ul>
    </div>

    <div class="d-lg-none mobile-toggle pull-right w-auto" (click)="openMenu()">
      <app-feather-icons [icon]="'more-horizontal'" />
    </div>
  </div>
</div>