 
<div class="container-fluid">
   <div class="row">
     <div class="col-sm-12">
       <app-default-step />
     </div>
     <div class="col-sm-12">
       <app-step-icon />
     </div>
     <div class="col-sm-12">
       <app-step-states />
     </div>
     <div class="col-sm-12">
      <app-step-sizing />
     </div>
     <div class="col-sm-12">
       <app-vertical-step />
     </div>
     <div class="col-sm-12">
       <app-default-pearls-steps />
     </div>
     <div class="col-sm-12">
      <app-pearls-step-icon />
     </div>
     <div class="col-sm-12">
       <app-pearls-step-sizing />
     </div>
     <div class="col-sm-12">
       <app-pearls-step-states />
     </div>
   </div>
 </div>