
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title1" [data]="paddingEle" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title2" [data]="marginEle" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title3" [data]="paddingLeft" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title4" [data]="paddingRight" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title5" [data]="paddingTop" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title6" [data]="paddingBottom" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title7" [data]="marginLeft" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title8" [data]="marginRight" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title9" [data]="marginTop" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title10" [data]="marginBottom" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title11" [data]="verticalAlign" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title12" [data]="imageSizes" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title13" [data]="textColor" />
        </div>
        <div class="col-xl-6 col-lg-12 col-md-6">
            <app-common-helper-class [title]="title14" [data]="badgeColor" />
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title15" [data]="backgroundColor" />
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title16" [data]="buttonColor" />
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title17" [data]="borderRadius" />
            <app-common-helper-class [title]="title18" [data]="fontWeight" />
            <app-common-helper-class [title]="title19" [data]="fontStyle" />
            <app-common-helper-class [title]="title20" [data]="float" />
            <app-common-helper-class [title]="title21" [data]="overflow" />
        </div>
        <div class="col-xl-6">
            <app-common-helper-class [title]="title22" [data]="fontSize" />
        </div>
        <div class="col-xl-6">
            <app-borders-color />
        </div>
        <div class="col-xl-6">
            <app-border-width />
            <app-position />
            <app-button-outline />
        </div>
    </div>
</div>