@for (button of groupBtn; track $index) {
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h5>{{ button.title }}</h5>
    </div>
    <div class="card-body btn-group-showcase">
      <div class="row">
        @for (btn of button.btnGroup; track btn) {
        <div class="col-xl-4 box-col-6 col-sm-12">
          @for (b of btn.btnClass; track b) {
          <div class="btn-group {{ button.btnClass }}" role="group" aria-label="Basic example">
            <button class="btn btn-{{ b }}" type="button">Left</button>
            <button class="btn btn-{{ b }}" type="button">
              Middle
            </button>
            <button class="btn btn-{{ b }}" type="button">Right</button>
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>
}